<h2><%= @cocktail.name %></h2>

  <% @doses.each do |dose| %>
    <li>
      <%= dose.description %> of <strong><%= dose.ingredient.name %></strong> | <%= link_to 'delete dose', dose, method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>


<p><%= link_to 'add a dose', new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to 'back to main list', cocktails_path  %></p>

